.Portfolio {
  width: 630px;
  margin: 0 auto;
}

.ProjectList {
  width: 630px;
  height: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}

.ProjectList img {
  width: 200px;
  margin: 5px;
}

.Toolbar {
  display: flex;
  margin: 5px;
}

.Toolbar-button {
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #000000;
  cursor: pointer;
}

.Toolbar-button-selected {
  background-color: #000000;
  color: #ffffff;
}